{% extends 'base.html.twig' %}

{% block main %}
    <h3> Hello: {{ user.username }} </h3>

    <h3>Email: {{ user.email }} </h3>

    <div>
        <a href="{{ path('edit_profile') }}" class="navbar-brand">
            Edit Profile
        </a>
    </div>

    <div>
        <a href="{{ path('create_event') }}" class="navbar-brand">
            Add New Event
        </a>
    </div>

    <div>
        <a href="{{ path('my_events') }}" class="navbar-brand">
            My Events
        </a>
    </div>

    <div>
        <a href="{{ path('create_birthday') }}" class="navbar-brand">
            Add New Birthday
        </a>
    </div>

    <div>
        <a href="{{ path('my_birthdays') }}" class="navbar-brand">
            My Birthdays
        </a>
    </div>
{% endblock %}