{% extends 'base.html.twig' %}

{% block main %}

    <div>
        <a href="{{ path('edit_profile', {id: user.id}) }}" class="navbar-brand">
            Edit Profile
        </a>
    </div>
    <br/>
    <br/>
    <h3> Username: {{ user.username }} </h3>

    <h3>Email: {{ user.email }} </h3>

    <div>
        <a href="{{ path('create_event') }}" class="navbar-brand">
            New Event
        </a>
    </div>

    {% if(events|length > 0) %}
        <div>
            <a href="{{ path('my_events') }}" class="navbar-brand">
                My Events({{ events|length }})
            </a>
        </div>
    {% endif %}

    <div>
        <a href="{{ path('create_birthday') }}" class="navbar-brand">
            New Birthday
        </a>
    </div>
    {% if(birthdays|length > 0) %}
        <div>
            <a href="{{ path('my_birthdays') }}" class="navbar-brand">
                My Birthdays({{ birthdays|length }})
            </a>
        </div>
    {% endif %}
{% endblock %}