{% extends 'base.html.twig' %}

{% block body_id 'register' %}

{% block main %}

    <div class="container body-content span=8 offset=2">
        <div class="well">


            <form class="form-horizontal" method="POST" action="{{ path('user_register_process') }}"
                  onsubmit="return Validate()" name="vform">
                <fieldset>

                    <legend>Register Form</legend>

                    <div class="form-group" id="username_div">
                        {% for message in app.flashes('exists_user') %}
                            <div class="alert alert-danger">
                            {{ message }}
                        </div>
                        {% endfor %}
                        <label class="col-sm-4 control-label" for="user_fullName">Username</label>
                        <span id="name_error"></span>
                        <input type="text" name="user[username]" class="form-control"
                               placeholder="Minimum 3 characters" id="user_error">
                    </div>

                    <div class="form-group" id="email_div">
                        {% for message in app.flashes('exists_email') %}
                            <div class="alert alert-danger">
                            {{ message }}
                        </div>
                        {% endfor %}
                        <label class="col-sm-4 control-label">Email</label>
                        <span id="email_error"></span>
                        <input type="text" name="user[email]" class="form-control" placeholder="Enter valid email"
                               id="user_email">
                    </div>

                    <div class="form-group" id="password_div">
                        <label class="col-sm-4 control-label">Password</label>
                        <span id="password_error"></span>
                        <input type="password" name="user[password][first]" class="form-control"
                               id="user_password_first">
                    </div>

                    <div class="form-group" id="pass_confirm_div">
                        <label class="col-sm-4 control-label">Password confirm</label>
                        <span id="password_confirm_error"></span>
                        <input type="password" name="user[password][second]" class="form-control"
                               id="user_password_second">
                    </div>

                    <div class="form-group">
                        <div class="col-sm-4 col-sm-offset-4">
                            <a class="btn btn-default" href="{{ path('event_index') }}">Cancel</a>
                            <input type="submit" name="register" value="Register" class="btn btn-primary">
                        </div>
                    </div>
                    {{ form_row(form._token) }}
                </fieldset>
            </form>

        </div>
    </div>

{% endblock %}	 
