 {% extends 'base.html.twig' %}

    {% block main %}

        <div class="container body-content span=8 offset=2">
            <div id="wrapper">
                <div id="container">
                    <a class="btn btn-default bnt-xs" href="{{ path('create_birthday') }}">New Birthday</a>
                    <a class="btn btn-info bnt-xs" href="{{ path('my_birthdays') }}">My Birthdays</a>
                    <br/>
                    <div class="table-condensed">
                        <div class="navbar-header">
                            <div class="navbar-form">Name: </div>
                            <div class="navbar-form">Born On: </div>
                            <div class="navbar-form">Age: </div>
                        </div>
                        <div class="navbar-header">
                            <div class="navbar-form">{{ birthday.name }}</div>
                            <div class="navbar-form">{{ birthday.bornOn|date('d.m.Y') }}</div>
                            <div class="navbar-form">{{ birthday.years }}</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

{% endblock %}

