{% extends 'base.html.twig' %}

{% block main %}
    <a href="{{ path('create_birthday') }}" class="navbar">Create Birthday</a>
    <div id="wrapper">
        <div id="container">
            <table style="border: 2px solid;">
                <thead style="border: 2px solid;">
                <tr>
                    <td style="border: 2px solid;">Name</td>
                    <td style="border: 2px solid;">Born On</td>
                    <td style="border: 2px solid;">Age</td>
                    <td style="border: 2px solid;">Edit</td>
                    <td style="border: 2px solid;">Delete</td>
                </tr>
                </thead>
                <tbody style="border: 2px solid;">
                {% for birthday in birthdays %}
                    <tr style="border: 2px solid;">
                        <td style="border: 2px solid;">{{ birthday.name }}</td>
                        <td style="border: 2px solid;">{{ birthday.getBornOn|date('d.m.Y') }}</td>
                        <td style="border: 2px solid;">{{ birthday.years }} г.</td>
                        <td><a class="btn btn-success" href="{{ path('edit_birthday', {id: birthday.id}) }}">Edit</a> </td>
                        <td><a class="btn btn-danger"
                               href="{{ path('delete_birthday', {id: birthday.id}) }}">Delete</a> </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}

