{% extends 'base.html.twig' %}

{% block body %}

    <div id="wrapper">
        <div id="container">
            <a class="btn btn-default bnt-xs" href="{{ path('create_event') }}">Create New Event</a>
            <a class="btn btn-info bnt-xs" href="{{ path('my_events') }}">My Events</a>
            <br/>
            <div class="table-condensed">
                <div class="navbar-header">
                    <div class="navbar-form">Name: </div>
                    <div class="navbar-form">Category: </div>
                    <div class="navbar-form">Description: </div>
                    <div class="navbar-form">Date: </div>
                </div>
                <div class="navbar-header">
                    <div class="navbar-form">{{ event.name }}</div>
                    <div class="navbar-form">{{ event.categoryName }}</div>
                    <div class="navbar-form">{{ event.description }}</div>
                    <div class="navbar-form">{{ event.dateEvent|date('d.m.Y') }}</div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
