{% extends 'base.html.twig' %}

{% block body %}


    <div id="wrapper">
        <div id="container">
            <a href="{{ path('create_event') }}">Create New Event</a>
            <table class="table-striped">
                <thead>
                <tr>
                    <td class="navbar-form">Name</td>
                    <td class="navbar-form">Category</td>
                    <td class="navbar-form">Description</td>
                    <td class="navbar-form">Date</td>
                    <td>Edit</td>
                    <td>Delete</td>
                </tr>
                </thead>
                <tbody>
                {% for event in events %}
                    <tr>
                        <td class="navbar-form">{{ event.name }}</td>
                        <td class="navbar-form">{{ event.categoryName }}</td>
                        <td class="navbar-form">{{ event.description }}</td>
                        <td class="navbar-form">{{ event.dateEvent|date('d.m.Y') }}</td>
                        <td><a class="btn btn-success bnt-xs" href="{{ path('edit_event', {id: event.id}) }}">Edit</a>
                        </td>
                        <td><a class="btn btn-danger bnt-xs"
                               href="{{ path('delete_event', {id: event.id}) }}">Delete</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
